header > nav, header > nav > a, header > div > a > svg, header > nav > a > svg {
  display: flex;
}

header {
  justify-content: space-between;
}

header > div, header > nav {
  width: 300px;
  margin: 0 1rem;
}

header > nav {
  justify-content: space-between;
  overflow: hidden;
}

header > div > a {
  justify-content: flex-start;
}

header > nav > a {
  padding: 0 1rem;
}

header > nav > a:hover {
  height: 110%;
  border-radius: 10px;
  color: #9dbb88;
  background-color: dimgray;
}

header > nav > a > svg {
  padding-top: 5px;
  padding-left: 4px;
}

#idx-atf {
  background-image: url("img/background-photo.jpg");
}

#idx-atf > div {
  height: 18vh;
}

.idx-center-spacebetween {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
}

h3 {
  margin-top: .4rem;
}

h2, h3 {
  position: relative;
  top: 20px;
}

button {
  position: relative;
  top: 40px;
}

footer > nav {
  display: none;
}
